:root {
    --font: "Roboto Mono", monospace;
    --color: rgb(233, 30, 99);
    --background: #222;
    --foreground: white;
    --layer: rgba(255, 255, 255, 0.1);
    --highlight: rgba(255, 255, 255, 0.2);
    --selection: rgba(233, 30, 99, 0.2);
}

::selection {
    background: var(--selection);
}

html {
    color: var(--color);
    background: var(--background);
    font-family: var(--font);
    user-select: none;
}

canvas, main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    font-size: 24px;
    background: var(--layer);
    border-radius: 100%;
    border: none;
    outline: none;
    transition: background 0.2s;
    text-decoration: none;
    color: var(--foreground);
    margin: 8px;
}

a:hover {
    background: var(--highlight);
}

a.active {
    background: var(--color);
}

@media (max-width: 768px) {
    a {
        width: 32px;
        height: 32px;
        font-size: 16px;
        margin: 4px;
    }
}

@media (max-width: 512px) {
    a {
        width: 24px;
        height: 24px;
        font-size: 14px;
        margin: 4px;
    }
}
