:root {
    --font: "Roboto Mono", monospace;
    --color: rgb(233, 30, 99);
    --background: #222;
    --selection: rgba(233, 30, 99, 0.2);
}

::selection {
    background: var(--selection);
}

html {
    color: var(--color);
    background: var(--background);
    font-family: var(--font);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
